.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 16px 0px #00000033;
  position: relative;
  min-width: 0;
  border-radius: 10px;
  padding: 0px 0px 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 11px);
  height: calc(100% + 11px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 11px;
}
.freeBox__oEpiG {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(7px + 11px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__oEpiG > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__oEpiG > :global(.__wab_flex-container) > *,
.freeBox__oEpiG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oEpiG > :global(.__wab_flex-container) > picture > img,
.freeBox__oEpiG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: Gelion;
  color: #000000;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.freeBox__kWkZ3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kWkZ3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__kWkZ3 > :global(.__wab_flex-container) > *,
.freeBox__kWkZ3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kWkZ3 > :global(.__wab_flex-container) > picture > img,
.freeBox__kWkZ3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__twjKm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__tPdd {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 55px;
}
.img__tPdd > picture > img {
  object-fit: cover;
}
.img__tPdd > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kv13R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__msRfR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetFbusername {
  font-family: Gelion;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.freeBox___15Rgr {
  position: relative;
  width: auto;
  height: auto;
  background: #000000;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 4px 10px;
}
.slotTargetFbemail {
  font-family: Gelion;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
